body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

.TheWholeGame {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 10px;
  justify-content: center;
}

.cell {
  width: 150px;
  height: 150px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  transition: background-color 0.2s ease;
}

.cell:hover{
  box-shadow: inset 0px 0px 0px 3px rgb(180, 180, 180);
}

#red {
   background-color: red
}
#green { 
  background-color: green
}
#blue { 
  background-color: blue
}
#yellow {
  background-color: yellow
}


#red:hover{
   background-color: rgb(255, 147, 147)
}
#green:hover { 
  background-color: rgb(175, 255, 175)
}
#blue:hover { 
  background-color: rgb(146, 146, 255)
}
#yellow:hover {
  background-color: rgb(255, 255, 156)
}

.flash {
  filter: brightness(200%);
  transition: filter 0.1s;
}

